[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = git@github.com:bertjwregeer/clang_complete.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/bertjwregeer/snipmate.vim.git
[submodule "vim/bundle/sessionman"]
	path = vim/bundle/sessionman
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-autoclose"]
	path = vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
