snippet copyright
	# File: `expand("%:t")`
	# Author: Bert JW Regeer (bert.regeer@ip3corp.com)
	# Author: iP3 Corporation
	# Created: `strftime("%Y-%m-%d")` 

	#
	# Copyright (C) 2011 ip3 Corporation. All rights reserved.
	#
	
